body {
  background-color: #000427;
}

.wallpaper {
  padding-top: 60vh;
  background-image: url(assets/wallpaper.jpg);
  background-size: cover;
  background-position: bottom;
}

h1 {
  font-weight: 700;
  letter-spacing: 1px;
}

h1,h2 {
  text-shadow: black 3px 3px 0;
}

.footer-flag {
  text-align: center;
  width: 65px;
  float: left;
  margin-right: 12px;
  margin-top: 3px;
}

.service-pill {

  background-color: rgba(0,0,0,0.5);
}

.service-pill i {
  font-size: 2rem;
  --fa-primary-color: #ffffff;
  --fa-secondary-color: #FFFFFF;
}

.service-pill.active i {
  --fa-primary-color: #000000;
}

footer {
  max-width: 500px;
}